<script src="/admin/js/jquery-1.8.2.min.js"></script>
<script src="/admin/js/bootstrap-tokenfield.min.js"></script>
<script src="/admin/js/jquery-ui.min.js"></script>
<script src="/admin/js/basic.js"></script>
<script src="/admin/js/simplemde.min.js"></script>
</div>
</body>
</html>