<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="/admin/css/style.css">
<link rel="shortcut icon" href="/img/favicon.ico">
<link rel="icon" href="/img/favicon.png">
</head>
<body>
<div>
	<header class="header">
		<h1 class="tit"><a href="/"><span>웹퍼블리셔</span> 김신영</a></h1>
		<!-- <button>메뉴열기</button> -->
		<nav class="nav">
			<h2 class="hidden">Navigation Menu</h2>
			<ul>
				<li><a href="/portfolio">포트폴리오 관리</a></li>
				<li><a href="/blog">블로그 관리</a></li>
				<li><a href="/comment">댓글 관리</a></li>
				<li><a href="/contact">문의 관리</a></li>
			</ul>
		</nav>
	</header>