<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="/admin/css/style.css">
<link rel="stylesheet" href="/admin/css/simplemde.min.css">
<link rel="stylesheet" href="/admin/css/dropzone.css">
<link rel="shortcut icon" href="/img/favicon.ico">
<link rel="icon" href="/img/favicon.png">
</head>
<body>
<div class="wrap">
	<header class="header">
		<h1 class="tit"><a href="/admin">ADMIN</a></h1>
		<!-- <button>메뉴열기</button> -->
		<nav class="nav">
			<h2 class="hidden">Navigation Menu</h2>
			<ul>
				<li><a href="/admin/portfolio">포트폴리오 관리</a></li>
				<li><a href="/admin/blog">블로그 관리</a></li>
				<li><a href="/admin/comment">댓글 관리</a></li>
				<li><a href="/admin/contact">문의 관리</a></li>
			</ul>
		</nav>
	</header>