<% include common/header %>
<section class="contents">
	<div class="tit-wrap">
		<h2 class="cont-tit"><%= pageTitle %></h2>
	</div>
	<section class="list-stts">
		<h3 class="hidden">사이트 현황</h3>
		<ul>
			<li>전체 포트폴리오 <strong class="num">55건</strong></li>
			<li>전체 블로그 <strong class="num">55건</strong></li>
			<li>전체 댓글 <strong class="num">55건</strong></li>
		</ul>
	</section>

	<section class="list-feedback">
		<h3 class="hidden">최근 피드백</h3>
		<dl>
			<dt>최근 댓글</dt>
			<dd>이름</dd>
			<dd>내용</dd>
			<dd>컨텐츠 제목</dd>
			<dd>종류(포트폴리오, 블로그)</dd>
			<dd><a href="">상세보기</a></dd>
			<dd><a href="">이동하기</a></dd>
		</dl>
		<dl>
			<dt>최근 문의</dt>
			<dd>이름</dd>
			<dd>내용</dd>
			<dd>메일</dd>
			<dd>구분</dd>
			<dd><a href="">상세보기</a></dd>
			<dd><a href="">이동하기</a></dd>
		</dl>
	</section>

	<section class="list-table">
		<h3 class="tit">최근 포트폴리오</h3>
		<table>
			<thead>
				<tr>
					<th scrope="col">번호</th>
					<th scrope="col">제목</th>
					<th scrope="col">부제목</th>
					<th scrope="col">날짜</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div class="btn-set">
			<div class="btn-left">
				<a href="/admin/portfolio/write" class="btn btn-default">포트폴리오 작성</a>
			</div>
			<div class="btn-right">
				<a href="" class="btn btn-primary">포트폴리오 관리</a>
			</div>
		</div>
	</section>

	<section class="list-table">
		<h3 class="tit">최근 블로그</h3>
		<table>
			<thead>
				<tr>
					<th scrope="col">번호</th>
					<th scrope="col">제목</th>
					<th scrope="col">부제목</th>
					<th scrope="col">날짜</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div class="btn-set">
			<div class="btn-left">
				<a href="/admin/portfolio/write" class="btn btn-default">블로그 작성</a>
			</div>
			<div class="btn-right">
				<a href="" class="btn btn-success">블로그 관리</a>
			</div>
		</div>
	</section>
</section>
<% include common/footer %>