<% include common/header %>
<div class="visual"></div>
<section id="contents" class="contents">
	<h2><%= title %></h2>
	<div>
		<table>
			<tr>
				<th scope="row">이름</th>
				<td>김신영</td>
			</tr>
			<tr>
				<th scope="row">생년월일</th>
				<td>1988.11.26</td>
			</tr>
		</table>
	</div>
</section>
<% include common/footer %>