<% include common/header %>
<section id="contents" class="contents">
	<h2 class="page-tit"><%= pageTitle %></h2>

	<form method="post" action="" class="contact-form">
		<div class="item">
			<label for="inpSort" class="inp-label">분류</label>
			<select id="inpSort" class="select" name="category">
				<option value="site">사이트문의</option>
				<option value="work">작업문의</option>
				<option value="etc">기타문의</option>
			</select>
		</div>
		<div class="item">
			<label for="inpCont" class="inp-label">내용</label>
			<textarea id="inpCont" class="inp-txt" name="contents"></textarea>
		</div>
		<div class="item">
			<label for="inpName" class="inp-label">이름</label>
			<input type="text" id="inpName" class="inp-txt" name="name">
		</div>
		<div class="item">
			<label for="inpEmail" class="inp-label">이메일</label>
			<input type="email" id="inpEmail" class="inp-txt" name="email">
		</div>
	</form>
	<div class="btn-set">
		<div class="btn-right" onmousedown="sendContact()">
			<input value="보내기" class="btn btn-primary">
		</div>
	</div>
</section>
<% include common/footer %>