<% include common/header %>
<section id="contents" class="contents <%= pageName %>">
	<h2 class="hidden"><%= pageTitle %></h2>
	<section>
		<h3>반갑습니다 :)</h3>
		<p>메인 내용</p>
	</section>
</section>
<% include common/footer %>