<% include common/header %>
<div class="visual"></div>
<section id="contents" class="contents">
	<h2 class="hidden"><%= pageTitle %></h2>
	<form>
		<div class="item">
			<label>아이디</label>
			<input type="text" class="inp-txt">
		</div>
		<div class="item">
			<label>비밀번호</label>
			<input type="password" class="inp-txt">
		</div>
		<input type="submit" class="btn btn-primary" value="로그인">
	</form>
</section>
<% include common/footer %>