<% include common/header %>
<section id="contents" class="contents">
	<h2 class="page-tit"><%= pageTitle %></h2>
	<span>date</span>
	<img src="" alt="">
	<button>추천</button>
	<button>좋아요</button>
	<div>컨텐츠</div>
	<div><span class="tag">tag</span></div>
	<div>소셜댓글(F, K, T)</div>
	<div>
		<textarea name="contents"></textarea>
		<input type="text" name="name">
		<input type="password" name="password">
		<input type="email" name="email">
	</div>
</section>
<% include common/footer %>