<% include common/header %>
<div class="visual"></div>
<section id="contents" class="contents">
	<h2><%= pageTitle %></h2>
	<ul>
		<li>
			title
			date
			img
		</li>
	</ul>
</section>
<% include common/footer %>