<footer class="footer">
	<ul class="sns">
		<li><a href="https://www.facebook.com/shinyeong.kim.92167" class="ico ico-facebook" target="_blank" title="새 창">김신영의 페이스북 바로가기</a></li>
		<li><a href="https://www.instagram.com/snyvv/" class="ico ico-instagram" target="_blank" title="새 창">김신영의 인스타그램 바로가기</a></li>
	</ul>

	<p class="copy">Copyright 2016. 김신영 all rights reserved.</p>
</footer>
<script src="/js/jquery-1.8.2.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/basic.js"></script>
</div>
</body>
</html>