<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/css/style.css'>
</head>
<body>
<div class="wrap">
	<header>
		<h1><a href="/">snyvv</a></h1>
		<nav>
			<ul>
				<li><a href="">ABOUT</a></li>
				<li><a href="">PORTFOLIO</a></li>
				<li><a href="">CONTACT</a></li>
			</ul>
		</nav>
	</header>