<% include ../common/header %>
<section id="contents" class="contents">
	<h2 class="page-tit">Name <span>sub name</span></h2>
	<span>date</span>
	<img src="" alt="">
	<button>추천</button>
	<button>좋아요</button>
	<div>컨텐츠</div>
	<a href=""><span class="tag">tag</span></a>
	<div>소셜댓글(F, K, T)</div>
	<form method="post" action="">
		<textarea class="inp-txt" name="contents"></textarea>
		<input type="text" class="inp-txt" name="name">
		<input type="password" class="inp-txt" name="password">
		<input type="submit" value="등록">
	</form>
</section>
<% include ../common/footer %>